<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>TranscoreDashboard</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
	  <servlet-name>platecategory</servlet-name>
	  <servlet-class>com.transcore.controller.PlateCategoryController</servlet-class>
  </servlet>
  
  <servlet-mapping>
	  <servlet-name>platecategory</servlet-name>
	  <url-pattern>/plate-category</url-pattern>  
  </servlet-mapping>
  
   <servlet>
	  <servlet-name>useraccount</servlet-name>
	  <servlet-class>com.transcore.controller.UserAccountController</servlet-class>
  </servlet>
  
  <servlet-mapping>
	  <servlet-name>useraccount</servlet-name>
	  <url-pattern>/login</url-pattern>  
	  <url-pattern>/logout</url-pattern> 
  </servlet-mapping>
     
  <filter>
  	<filter-name>authfilter</filter-name>
  	<filter-class>com.transcore.filter.AuthenticateFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>authfilter</filter-name>
  	<url-pattern>/views/*</url-pattern>
  	<url-pattern>/plate-category</url-pattern>  
  	<url-pattern>/login</url-pattern>	
  </filter-mapping>
  
  <context-param>
	  <param-name>DTSDB</param-name>
	  <param-value>jdbc:sqlserver://localhost:1433;databaseName=dbDTS</param-value> 
  </context-param>
  
  <context-param>
  	<param-name>testDB</param-name>
  	<param-value>jdbc:sqlserver://localhost:1433;databaseName=Test</param-value> 
  </context-param>
  
</web-app>